
/* Configurações Gerais */
body {
	background-color:#FFF;
	font-family: Helvetica, sans-serif;
	
}

#interface {
	background-color: #FFF;
	width: 1000px;
	height: 800px;
	margin: auto;
/* 	border: rgba(0,0,0,0.67) solid 2px; */
}

#poll {
	margin: 40px 0px 0px 50px;
	font-size: 25px;
}

form.formulario {
	width: 300px;
	float: none;
	margin: auto;
}

p#titulo {
	text-align: center;
	font-size: 36px;
	padding-top: 30px;
}

/* Configuração dos botões */
#botoes {
	width: 800px;
	height: 213px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 90px;
	display: block;
}

.botao {
	width: 132px;
	height: 213px;
	border-radius: 10px;
	position: relative;
	transition: background-color 0.5s;
}

/* Cor das opções */

.bom {background-color: rgb(95,183,50)}
.medio {background-color: rgba(255,231,4,1)}
.ruim {background-color: #f72121;}
.ruim p {color: white}
td.ruim {color: white}
.selecao { 
	float: none;
	margin: auto;
	margin-top: 50px;
	height: 40px;
	width: 180px;
	border-radius: 10px;
	background-color: #e9e9e9;
}

/* Posicionamento */

div.bom {float: left}
div.medio {float: none; margin: auto}
div.ruim {float: right}

/* Efeito dos botões */
.bom:hover {background-color: #009835}
.medio:hover {background-color: #fbd100}
.ruim:hover {background-color: #C00}

#emoticon {
	width: 70px;
	height: 70px;
	margin: 30px 31px 0px 31px;
	position: absolute;
}

.legenda {
	width: 100px;
	font-size: 25px;
	font-weight: 300;
	text-transform: uppercase;
	margin: 150px 16px 0px 16px;
	position: absolute;
	text-align: center;
	color: black;
}

.selecao > .legenda {
	float: none;
	position: relative;
	margin: auto;
	padding-top: 7px;
	width: auto;
	height: auto;
	font-size: 30px;
	text-transform: capitalize;
}

/* Configuração dos botões Votar e Voltar */
#votar {
	font-size: 20px;
	color: #2ebbfb;
	background-color: #0068B4;
	border-radius: 40px;
	width: 100px;
	height: 30px;
	float: none;
	margin: auto;
	margin-top: 80px;
	padding: 6px 0px 0px 0px;
	text-align: center;
	transition: background-color .3s;
}

#votar:hover, #voltar:hover{
	color: #0068B4;
	background-color: #2ebbfb;
}
a {
	text-decoration: none;
	color: black;
}

/* Configuração da tabela de resultados */

table#resultados {
	width: 700px;
	height: 250px;
	font-weight: 100;
	margin: auto;
	margin-top: 100px;
	font-size: 20px;
	text-align: center;
	border-radius: 20px;
	border-collapse: collapse;
}

th {background-color: #7ab5e2;font-weight: 400}
tr, td {width: 200px;height: 45px}
.par {background-color: rgb(220,220,220)}