
/* Configuração dos botões */

.botao {
	padding: 4px 10px 20px;
	margin-top: 20px;
	border-radius: 10px;
	position: relative;
	transition: background-color .3s;
}

/* Cor das opções */

.bom {background-color: #5cb85c}
.medio {background-color: rgb(250, 230, 0)}
.ruim {background-color: #d9534f}

.ruim p {color: white}
.selecao { 
	float: none;
	margin: auto;
	margin-top: 50px;
	height: 40px;
	width: 180px;
	border-radius: 10px;
	background-color: #e9e9e9;
}

/* Efeito dos botões */
.bom:hover {background-color: #449d44 }
.medio:hover {background-color:  #eccc1f}
.ruim:hover {background-color: #c9302c}

.emoticon {
	width: 90%;
	height: 90%;
	position: relative;
	margin-top: 10px;
}

.legenda {
	font-size: large;
	font-weight: 300;
	text-transform: uppercase;
	margin: 1% 0 0 0;
	position: relative;
	color: black;
}

.selecao > .legenda {
	float: none;
	position: relative;
	margin: auto;
	padding-top: 7px;
	width: auto;
	height: auto;
	font-size: 30px;
	text-transform: capitalize;
	text-decoration: none;
}


.centralizado {
    margin: auto;
    float: none;
	width: 90px;
/*	border: 1px solid black;*/
}

.contorno {
	border: 1px dashed black;
}



.esconder {
	width: 0;
	height: 0;
	background:s white;
	padding: 0;
	border: 0;
}



.espaco {
	margin-bottom: 10px;
}

.teste {
	font-size: 100%;
	width: 100%;
}
