
/* Configurações Gerais */


/* Configuração dos botões */

.botao {
	border-radius: 10px;
	position: relative;
/*	height: 200px;*/
	transition: background-color .3s;
}

/* Cor das opções */

.bom {background-color: rgb(80, 200, 10)}
.medio {background-color: rgb(250, 230, 0)}
.ruim {background-color: rgb(250, 60, 0);}

.ruim p {color: white}
.selecao { 
	float: none;
	margin: auto;
	margin-top: 50px;
	height: 40px;
	width: 180px;
	border-radius: 10px;
	background-color: #e9e9e9;
}

/* Efeito dos botões */
.bom:hover {background-color: #009835}
.medio:hover {background-color: #fbd100}
.ruim:hover {background-color: #C00}

.emoticon {
	width: 70px;
	height: 70px;
	position: relative;
	margin-top: 10px;
}

.legenda {
	font-size: 25px;
	font-weight: 300;
	text-transform: uppercase;
/*	margin: 150px 16px 0px 16px;*/
	position: relative;
	color: black;
}

.selecao > .legenda {
	float: none;
	position: relative;
	margin: auto;
	padding-top: 7px;
	width: auto;
	height: auto;
	font-size: 30px;
	text-transform: capitalize;
	text-decoration: none;
}


.centralizado {
    margin: auto;
    float: none;
    width: 5em;
}

.contorno {
	border: 1px dashed black;
}
